<!--
 * @Author: GG
 * @Date: 2022-08-31 09:59:30
 * @LastEditTime: 2022-08-31 11:19:51
 * @LastEditors: GG
 * @Description: 
 * @FilePath: \golang-demo\gin\demo\templates\params\login.html
 * 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    user:{{.name}},age:{{.age}}
    <form action="/login" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password" value=""><br>
        <input type="submit" value="Login">
    </form>
    
</body>
</html>
